<div class="row">
    <div class="form-group">
        <label for="productDetails">Front Side</label>
             <textarea
                     class="form-control"
                     placeholder="Front side"
                     name="productDetails"
                     id="productDetails"
                     rows="5"
                     cols="30"
                     ng-model="product.FrontSide"
                     style="width:100%"
                     required>


             </textarea>
    </div>
</div>


<div class="row">
    <div class="form-group">
        <label for="productDetails">Back Side</label>
             <textarea
                     class="form-control"
                     placeholder="Back side"
                     name="productDetails"
                     id="productDetails"
                     rows="5"
                     cols="30"

                     ng-model="product.BackSide"

                     style="width:100%"
                     required>


             </textarea>
    </div>
</div>
<br>
<div class="row">
    <div class="form-group">

        <input type="checkbox" ng-model="product.Detail" ng-checked="product.Detail==1">
        <label for="productDetails">Detail</label>
    </div>
</div>
<br>
<div class="row">
    <div class="form-group">
        <label for="productDetails">Image</label>
                     <textarea
                             class="form-control"
                             placeholder="Image"
                             rows="2"
                             cols="30"

                             ng-model="product.Image"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="productDetails">Literature</label>
                     <textarea
                             class="form-control"
                             placeholder="Literature"
                             rows="2"
                             cols="30"

                             ng-model="product.Literature"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="productDetails">Wikipedia</label>
                     <textarea
                             class="form-control"
                             placeholder="Literature"
                             rows="2"
                             cols="30"

                             ng-model="product.Wikipedia"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="productDetails">Wikiskripta</label>
                     <textarea
                             class="form-control"
                             placeholder="Wikiskripta"
                             rows="2"
                             cols="30"

                             ng-model="product.Wikiskripta"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>


<div class="row">
    <div class="form-group">
        <label for="productDetails">Youtube</label>
                     <textarea
                             class="form-control"
                             placeholder="Youtube"
                             rows="2"
                             cols="30"

                             ng-model="product.Youtube"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="productDetails">Extra Link</label>
                     <textarea
                             class="form-control"
                             placeholder="ExtraLink"
                             rows="2"
                             cols="30"

                             ng-model="product.ExtraLink"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label for="productDetails">Tag</label>
                     <textarea
                             class="form-control"
                             placeholder="Tag"
                             rows="2"
                             cols="30"

                             ng-model="product.Tag"

                             style="width:100%"
                             required>


             </textarea>
    </div>
</div>