<% include layout.ejs%>

<div data-ng-app="productCategoryModule"
     data-ng-controller="viewProductCategoryController">

    <div class="container">



        <script type="text/ng-template" id="field_renderer.html">

                    <div ng-show="currentTopic == Category.Topic || Category.Layer == 0">
                        <ul style="list-style-type:none">
                            <input type="checkbox" id="{{Category.CategoryId}}" class="css-checkbox"
                                   ng-model="checkCat" ng-click="setCurrentTopic(Category.Topic)"
                                   ng-model="currentTopic == Category.Topic && Category.Layer == 0" ng-init="checkCat = false"
                                   layer="{{Category.Layer}}"/>
                            <label for="{{Category.CategoryId}}" class="css-label">{{Category.CategoryName}}</label>
                        </ul>
                    </div>

                    <div ng-show="currentTopic == Category.Topic">

                        <table class="table table-hover" style="margin-left:75px;margin-top:5px;table-layout: fixed">
                            <tr  ng-show="checkCat" ng-repeat="Deck in Category.Decks" ng-class="{'success':check}">
                                <td style="width:15px"><input type="checkbox" ng-model="check" ng-click="addDeck(Deck, Category, check)" ng-init="check = $storage.decks[Deck.Id][0]==1" ng-attr-id="{{getSuperCategory(Category)}}"></td>
                                <td style="width:340px">{{Deck.DeckName}}</td>
                                <td style="width:80px" ng-show="check" ng-attr-id="{{getSuperCategory(Category)}}">Přidat detaily</td>
                                <td style="width:15px" ng-show="check" ng-attr-id="{{getSuperCategory(Category)}}"><input type="checkbox" ng-model="checkDet" ng-click="addDetails(Deck, checkDet)" ng-checked="$storage.decks[Deck.Id][1]==1" ng-attr-id="{{getSuperCategory(Category)}}"></td>
                            </tr>
                        </table>

                        <ul ng-hide="!$parent.checkCat" ng-repeat="Category in Category.SubCategories" ng-include ="'field_renderer.html'"></ul>
                    </div>

            </div>
        </script>


        <script type="text/ng-template" id="expand.html">


        </script>





        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a ng-click="SelectedTopic='Anatomie'" ng-init="SelectedTopic=0" href="" style="margin-top: 20px">Anatomie</a>
                    </li>
                    <li>
                        <a ng-click="SelectedTopic='Histologie'" ng-init="SelectedTopic=0" href="">Histologie</a>
                    </li>
                    <li>
                        <a ng-click="SelectedTopic='Fyziologie'" ng-init="SelectedTopic=0" href="">Fyziologie</a>
                    </li>
                    <li>
                        <a ng-click="SelectedTopic='Latina'" ng-init="SelectedTopic=0" href="">Latina</a>
                    </li>
                    <li>
                        <a ng-click="SelectedTopic='Cytologie'" ng-init="SelectedTopic=0" href="">Cytologie</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <li style="list-style-type:none" ng-repeat="Category in Hierarchy.SubCategories | filter:{ Topic: SelectedTopic }" ng-include="'field_renderer.html'"></li>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->


        <!--ul><input type="checkbox" ng-model="checkCat" ng-init="checkCat = $storage.Categories[Category.CategoryId] > 0"> {{Category.CategoryName}}</ul>



            <!--input type="checkbox" ng-model="check" ng-click="addDeck(productCategory, check)" ng-checked="false"-->
            <!--ul ng-show="checkCat" ng-repeat="Deck in Category.Decks">

                <input type="checkbox" ng-model="check" ng-click="addDeck(Deck, Category, check)" ng-init="check = $storage.decks[Deck.Id][0]==1"> {{Deck.DeckName}}
                <input type="checkbox" ng-show="check" ng-model="checkDet" ng-click="addDetails(Deck, checkDet)" ng-checked="$storage.decks[Deck.Id][1]==1"> <span ng-show="check">Details</span>
            </ul-->





    </div>


</div>

</div>


<script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
<script src="../../javascripts/app/productCategory/viewProductCategoryController.js"></script>

<script src="../../javascripts/app/productCategory/requiredFieldValidationService.js"></script>

<script src="../../javascripts/app/productCategory/topicFunctionality.js"></script>

