<% include layout.ejs%>


<div class="panel-body">

    <div class="container"
         data-ng-cloak
         data-ng-app="productModule"
         data-ng-controller="createCardController">
        <div class="panel panel-info">
            <div class="panel-heading">

                <h3 class="panel-title"> Deck :  {{DeckName}}</h3>
            </div>
        </div>

        <form
                class="navbar-form navbar-left" role="search"
                method="POST"
                name="formProductCategory">

            <%include validationSummary.ejs%>
            <%include cardInfo.ejs%>



            <div>&nbsp</div>
            <div class="row">
                <div class="form-group" style="padding-left:40%">
                    <button type="button" class="bin bin-primary"
                            ng-click="createCard(product)"
                    >Create Product</button>
                </div>
            </div>


        </form>
    </div>
</div>
</div>





<script src="../../javascripts/angular.min.js"></script>

<!--script src="../public/javascripts/app/productCategory/productCategoryModule.js"></script>
<script src="../public/javascripts/app/productCategory/productCategoryService.js"></script>
<script src="../public/javascripts/app/productCategory/productCategoryController.js"></script-->


<script src="../../javascripts/app/productCategory/productModule.js"></script>
<script src="../../javascripts/app/productCategory/productService.js"></script>
<script src="../../javascripts/app/productCategory/createCardController.js"></script>

<script src="../../javascripts/app/productCategory/requiredFieldValidationService_Product.js"></script>
