<% include layout%>


<div class="container">
  <h3>Výběr témat</h3>
  <p>Abyste mohli začít Oktaviána používat, musíte si nejprve vybrat témata, která si chcete zapamatovat. Klikněte na sekci „Témata“.</p>
  <p>Nyní si stačí vybrat příslušné kategorie zaškrtnutím kolonky. </p>
  <div class="alert alert-warning">Pokud se cítíte odvážní, můžete vybrat také možnost „Přidat detaily“. Počítejte ale s tím, že můžete narazit na opravdové špeky.</div>

  <h3>Studovat</h3>
  <p>Jakmile máte zvolenu aspoň jednu kategorii, můžete začít studovat. Kliknutím na „Studovat vše“ můžete opakovat koncepty ze všech aktivních témat. Pokud se chcete soustředit na specifickou oblast, vyberte téma v dolním seznamu – takto budete studovat pouze koncepty patřící k vybranému tématu.</p>

  <h3>Otázky</h3>
  <p>Po zhodnocení své odpovědi vyberte jednu ze čtyř nabízených možností:</p>
  <ol>
    <li>Znovu – nevím/nepamatuji si odpověď</li>
    <li>Těžké – jsem schopen odpovědět, ale pouze za dlouhou dobu a s obtížemi</li>
    <li>Správně – jsem schopen bez problému odpovědět</li>
    <li>Jednoduché – otázka je pro mě triviální</li>
  </ol>
  <p>Oktavián si vaše odpovědi pamatuje a počítá podle nich interval, podle kterého se vám opět zobrazí jako koncepty k opakování. Pokud odpovíte několikrát nesprávně, bude se vám takový koncept zobrazovat mnohem častěji, než ten, pro který konzistentně odpovídáte správně.</p>
  <p>Když si nejste jisti svou odpovědí nebo si chcete rychle zopakovat informace související se zobrazeným konceptem, vyberte jednu z možností na pravém menu. Dostanete se tak na wikipedii, wikiskripta a jiné stránky. Případně si můžete pod kolonkou „Literatura“ zobrazit strany v konkrétních učebnicích, kde můžete danou problematiku dohledat.</p>

  <h3>Troubleshooting a feedback</h3>
  <p>Zpětná vazba je pro nás extrémně důležitá. Pokud narazíte na problém, se kterým si nevíte rady, na chybu, kterou bychom měli opravit nebo nám chcete pomoci s provozem, obraťte se na nás:</p>
  <ul>
    <li>Pomocí chatu zde na stránce</li>
    <li>Emailem na tym@oktavian.cz</li>
  </ul>
</div>