<% include layout.ejs%>

<% include pageTitle%>
<div class="panel-body">

    <div class="container"
         data-ng-cloak
         data-ng-app="productModule"
         data-ng-controller="editProductController">

        <form
                class="navbar-form navbar-left" role="search"
                method="POST"
                name="formProductCategory">

            <%include validationSummary.ejs%>
            <div class="row">
                <div class="form-group">
                    <label for="">Front Side</label>
                    &nbsp;&nbsp;

                    <input type="text"
                           class="form-control"
                           placeholder="Please Enter Product"
                           name="product"
                           id="product"
                           ng-model="product.FrontSide"
                           style="width:100%"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="">Back Side</label>
                    &nbsp;&nbsp;

                    <input type="text"
                           class="form-control"
                           placeholder="Please Enter Product Cost"
                           name="productCost"
                           id="productCost"
                           ng-model="product.BackSide"
                           style="width:100%"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="">Added By</label>
                    &nbsp;&nbsp;

                    <input type="text"
                           class="form-control"
                           placeholder="???"
                           name="productSelling"
                           id="productSelling"
                           ng-model="product.AddedBy"
                           style="width:100%"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="productCategory">Deck</label>
                    <br>

                    <select
                        class="form-control"
                        name="productCategory"
                        id="productName"
                        ng-model="product.Decks_FK">

                        <option value="">Please Select Product Category</option>
                        <option
                            data-ng-repeat="productCategory in productCategories"
                            value={{productCategory.Id}} ng-selected="product.Decks_FK==productCategory.Id">{{productCategory.DeckName}}
                    </select>
                    </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="productDetails">Back Side</label>
             <textarea
                     class="form-control"
                     placeholder="Product Details"
                     name="productDetails"
                     id="productDetails"
                     rows="5"
                     cols="30"

                     ng-model="product.BackSide"

                     style="width:100%"
                     required>


             </textarea>
                </div>
            </div>

            <div>&nbsp</div>
            <div class="row">
                <div class="form-group" style="padding-left:40%">
                    <button type="button" class="bin bin-primary"
                            ng-click="editProduct(product)"
                    >Edit Card</button>
                </div>
            </div>


        </form>
    </div>
</div>
</div>





<script src="../../javascripts/angular.min.js"></script>

<!--script src="../public/javascripts/app/productCategory/productCategoryModule.js"></script>
<script src="../public/javascripts/app/productCategory/productCategoryService.js"></script>
<script src="../public/javascripts/app/productCategory/productCategoryController.js"></script-->


<script src="../../javascripts/app/productCategory/productModule.js"></script>
<script src="../../javascripts/app/productCategory/productService.js"></script>
<script src="../../javascripts/app/productCategory/editProductController.js"></script>

<script src="../../javascripts/app/productCategory/requiredFieldValidationService_Product.js"></script>
