<% include layout%>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">




<div class="jumbotron img-responsive text-center parallax">

    <h2 class="padding-medium header-main">Nestudujte medicínu 40 let</h2>
    <p class="padding-medium">Oktavián využívá vědecky podloženého systému opakování s prodlevami, díky kterému porazíte frustraci ze zapomínání.<br>Zdarma, od studentů pro studenty</p>
    <button type="button" class="btn btn-warning btn-lg padding-medium">Začněte hned</button>
</div>

<h2 class="text-center padding-top-lg" id="jaktofunguje">Jak to funguje</h2>
<hr>
<div class="container">
    <div class="row">

        <div class="col-md-3"> <div class="box_home">  <span>1</span><img class="img-responsive img-jaktofunguje" src="http://res.cloudinary.com/oktavian/image/upload/v1473669842/imageedit_1_2532493337_qnispb.jpg" alt="">
                <h4>Projděte si kapitolu</h4>

                <p>Naučte se materiál pro danou lekci, pomocí přednášek, skript, výpisků nebo čehokoliv jiného.</p></div></div>

        <div class="col-md-3"> <div class="box_home">  <span>2</span><img class="img-responsive img-jaktofunguje" src="http://res.cloudinary.com/oktavian/image/upload/v1473669842/oznacit_p4zeqb.jpg" alt="">
                <h4>Označte to</h4>

                <p>Jednoduše označte naučené koncepty v kurikulu. Od teď se Oktavián stará, abyste si je zapamatovali.</p></div></div>

        <div class="col-md-3"> <div class="box_home">  <span>3</span><img class="img-responsive img-jaktofunguje" src="http://res.cloudinary.com/oktavian/image/upload/v1473669842/otazka_tovtnk.jpg" alt="">
                <h4>Otestujte se</h4>

                <p>Průběžným testováním si vytvoříte vlastní model zapomínání.</p></div></div>

        <div class="col-md-3"> <div class="box_home">  <span>4</span><img class="img-responsive img-jaktofunguje" src="http://res.cloudinary.com/oktavian/image/upload/v1473669842/zapamtujte_iqyfzq.jpg" alt="">
                <h4>Zapamatujte si</h4>

                <p>Opakujte pár minut každý den a zapamatujte si více než 92% učiva.</p></div></div>

    </div>
</div>



<h2 class="text-center" id="predmety">Předměty</h2>
<hr>
<div class="container">
    <p class="text-center">
        Oktavián podporuje všechny důležité předměty prvního a druhého ročníku lékařských fakult.
    </p>
</div>


<div class="container">
    <div class="row padding-top-lg">
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/x-ray.png">
            <h3 class="text-center">Anatomie</h3>

        </div>
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/cell.png">
            <h3 class="text-center">Histologie</h3>

        </div>
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/sperm.png">
            <h3 class="text-center">Embryologie</h3>

        </div>
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/heartbeat.png">
            <h3 class="text-center">Fyziologie</h3>

        </div>
    </div>
    <div class="row padding-top-lg">
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/molecules.png">
            <h3 class="text-center">Biochemie</h3>

        </div>
        <div class="col-md-3 col-predmety">
            <img class="img-responsive icon-predmety" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473769668/source_images/papyrus.png">
            <h3 class="text-center">Latina</h3>

        </div>
    </div>
</div>


<div class="container padding-y-2" id="proc">
    <div class="row text-center-mobile">
        <div class="col-md-6">
            <h3 class="padding-bottom">Navrženo pro smysluplné studium</h3>
            <p>Nelíbí se vám dlouhé šprtání na zkoušku, jen abyste za pár týdnů po ní zapomněli 80% z materiálu, který jste se naučili?</p>
            <p>Mozek bohužel nefunguje jako pevný disk - informace, které nejsou delší dobu použity, se prostě ztratí. Tento proces zapomínání se ale naštěstí dá modelovat. Oktavián na základě testování a vaší zpětné vazby hodnotí "sílu" zapamatování jednotlivých znalostí a podle ní dokáže určit, kdy je potřeba si daný koncept zopakovat - tak, abyste ho udrželi v paměti na věčné časy.</p>
        </div>
        <div class="col-md-6">
            <p><img alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1474568337/12527-NOA3EK_xudk8h.jpg" class="img-responsive"></p>
        </div>
    </div>
</div>

<h2 class="text-center" id="veda">Věda</h2>
<hr>
<div class="container">
    <div class="row text-center-mobile padding-top-lg">
        <div class="col-md-10">

            <h4 style="font-weight:bold">The Critical Importance of Retrieval for Learning</h4>
            <p class="text-muted">BY JEFFREY D. KARPICKE, HENRY L. ROEDIGER
                <br><i><b>SCIENCE</i></b> 15 FEB 2008 : 966-968</p>
            <p>Učení je často považováno za dokončené, pokud student dokáže správně zodpovědět otázky v testu. Při našem experimentu se jedna skupina studentů učila cizí jazyk pomocí obvyklého přístupu opakovaných období učení-test. Dále byli studenti rozřazeni do tří skupin: poté, co se student naučil daný soubor slov, se v první skupině tato slova dále znovu učil, ale netestoval se, v druhé skupině se soubor slov testoval, ale dále neučil a v poslední skupině se opakovaně učil i testoval. <strong>Opakované studování slov po prvním naučení nemělo žádný dopad na pozdější zapamatování. Opakované testování naopak prokázalo velký pozitivní efekt.</strong> Studenti také odhadovali svoji úspěšnost při pozdějším zapamatování. Jejich odhady nekorelovaly se skutečnou úspěšností.<strong> Tyto výsledky ukazují na kritickou roli opakovaného testování při studiu a na malé povědomí o tomto efektu, i mezi vysokoškolskými studenty.</strong>  </p>
        </div>
        <div class="col-md-2">
            <p><img alt="" src="http://science.sciencemag.org/content/sci/324/5923/F1.medium.gif" class="img-responsive disappear-small" style="border-radius: 15px;"></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center-mobile padding-top-lg">

        <div class="col-md-10">
            <h4 style="font-weight:bold">Impact of Self-Assessment Questions and
                Learning Styles in Web-Based Learning: A
                Randomized, Controlled, Crossover Trial</h4>

            <p class="text-muted">BY DAVID A. COOK, WARREN G. THOMPSON, KRIS G. THOMAS ET AL.
                <br><i><b>ACADEMIC MEDICINE</i></b> MAR 2006 : 231-38</p>
            <p>Rezidenti interní medicíny na Mayo Clinic v Rochesteru byli podrobeni testům po nastudování čtyřech kapitol, z nichž dvě obsahovaly otázky pro samostatné otestování a dvě nikoliv.<strong> Rezidenti dosahovali vyšších skóre u kapitol se samostatným testováním.</strong></p>
        </div>
        <div class="col-md-2">
            <p><img alt="" src="https://s3.amazonaws.com/osmosis-blog/wp-content/uploads/2014/06/academicmedicine1.jpg" class="img-responsive" style="border-radius: 15px;"></p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center-mobile padding-top-lg">
        <div class="col-md-10">

            <h4 style="font-weight:bold">A Meta-Analytic Review of the Distribution of Practice Effect: Now You See It, Now You Don't</h4>
            <p class="text-muted">BY JOHN J. DONOVAN, DAVID J. RADOSEVICH
                <br><i><b>APPLIED PSYCHOLOGY</i></b> 2008 : 795-805</p>
            <p>Studie zkoumá vztah mezi uspěšností studentů a opakováním najednou nebo opakováním s prodlevami. Celková průměrná velikost účinku z meta-analýzy 63 studií se rovnala 0,46, což znamená, že <strong>studenti využívající opakování s prodlevami byli výrazně úspěšnější než studenti, kteří opakovali materiál najednou.</strong> </p>
        </div>
        <div class="col-md-2">
            <p><img alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1474568437/Journal_of_Applied_Psychology_Jan-2016-600x711_m3xj8f.jpg" class="img-responsive" style="border-radius: 15px;"></p>
        </div>
    </div>
</div>


<div id="footer">

    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-6">

        <div class="text-muted">
            <h4>Pomozte nám rozvíjet Oktaviána</h4>
            <p>Pokud vám Oktavián pomohl, rádi uvítáme jakoukoliv pomoc. Ať už ve formě zpětné vazby, podílení se na tvorbě obsahu nebo kuřecího na kari.</p>
        </div>

            </div>


            <div class="col-md-6">

            <div>
                <i class="fa fa-skype fa-2x" style="color:white"></i>
                <span class="text-info" style="padding-left: 15px"></span>
            </div>

            <div style="padding-top: 20px">
                <i class="fa fa-envelope fa-2x" style="color:white"></i>
                <a href="mailto:support@company.com" style="padding-left: 15px">tym@oktavian.cz</a>
            </div>
        </div>
<!--            <ul class="nav pull-right scroll-top">
                <li><a href="#" title="Scroll to top"><img class="glyphicon glyphicon-chevron-up" src="https://image.freepik.com/free-icon/arrow-top-ios-7-interface-symbol_318-34757.png"></img></a></li>
            </ul>-->
        </div>
    </div>
</div>

<script src="../public/javascripts/app/productCategory/loginController.js"></script>
<script src="../public/javascripts/app/productCategory/productCategoryController.js"></script>



