<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../stylesheets/style.css" rel="stylesheet"/>
  <script src="../../javascripts/jquery.min.js"></script>
  <script src="../../javascripts/smoothscroll.js"></script>
  <script src="../../javascripts/bootstrap.min.js"></script>
  <script src="../../javascripts/angular.min.js"></script>
  <script src="../../javascripts/angular.ng-modules.js"></script>
  <script src="../../javascripts/app/productCategory/loginModule.js"></script>
  <script src="../../javascripts/app/productCategory/loginService.js"></script>
  <script src="../../javascripts/app/productCategory/loginController.js"></script>

  <script src="../../javascripts/app/productCategory/productModule.js"></script>
  <script src="../../javascripts/app/productCategory/productCategoryModule.js"></script>
  <script src="../../javascripts/app/productCategory/requiredFieldValidationService_Login.js"></script>
  <script src="../../javascripts/ngStorage.js"></script>
</head>
<body>

<nav class="navbar navbar-default">

  <div class="container-fluid"
       data-ng-cloak
       data-ng-modules="loginModule, productModule, productCategoryModule"
       data-ng-controller="loginController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#" title="Oktavian">
        <img alt ="logo" class="logo" src="http://res.cloudinary.com/oktavian/image/upload/v1473669451/source_images/Oktavian_logo_nearwhite.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"  ng-hide=$storage.Username !="">
        <li><a href="/">Log In</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="#jaktofunguje" class="smoothScroll">Jak to funguje</a></li>
        <li><a href="#predmety" class="smoothScroll">Předměty</a></li>
        <li><a href="#veda" class="smoothScroll">Věda</a></li>
      </ul>

    <div ng-show=$storage.Username !="">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{$storage.Username}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/createProductCategory">My Account</a></li>
                <button
                        type="button"
                        class="btn btn primary"
                        data-categoryId="{{productCategory.Id}}"
                        data-ng-click="logout()">Log Out</button>

              </ul>
            </li>
          </ul>
          </div>

      <ul class="nav navbar-nav navbar-right" ng-show=$storage.Username !="">

        <li><a href="/myDecks">My Decks</a></li>
        <li><a href="/chooseDecks">Choose Decks</a></li>

        <li ng-show='$storage.Privilege == "admin"'><a href="/viewProductCategory">Edit Decks</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  </nav>

</body>

</html>



