<% include layout%>
<script src="../../javascripts/keystrokes.js"></script>

<div class="container"
     data-ng-cloak
     data-ng-modules="productCategoryModule, productModule"
     data-ng-controller="learnController">

    <div class="container padding-top-lg">
            <div class="card-text"
                 ng-bind-html="Card.FrontSide">
                {{Card.FrontSide}}
            </div>
    </div>

    <hr ng-show="show">

    <div class="container"
         ng-show="show"
         ng-bind-html="Card.BackSide">
        <div class="card-text">
            {{Card.BackSide}}
        </div>
    </div>

    <img ng-show="show" class="img-responsive" src="{{Card.Image}}">


        <button type="button"
                class="btn btn-primary btn-lg card-button"
                id="show"
                ng-show="!show"
                data-ng-click="showAnswer();showFooter={display:'unset'}">
            Show
        </button>
        <!--button type="button"
                class="btn btn-primary"
                ng-show="!show"
                data-ng-click="addNewCard()">
            New Card
        </--button-->

    <div class="sticky-container"  ng-show="show">
        <ul class="sticky">
            <li> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/open-book.png" />
                <p>Literatura</p>
            </li>
            <li> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885960/source_images/logo_ws_bw_crop.png" />
                <p>Wikiskripta</p>
            </li>
            <li> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/wikipedia-logo.png" />
                <p>Wikipedia</p>
            </li>
            <li> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/youtube-logo.png" />
                <p>Youtube</p>
            </li>
            <li> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/external.png" />
                <a href="#">Adresa</a>
            </li>
        </ul>
    </div>

<div ng-style="showFooter" class="navbar-hidden">
<div class="navbar-fixed-bottom navbar navbar-default footer-card">

    <div class="container text-center">
        <div class="btn-group">
            <a href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(0)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/delete.png">
                <p class="text-muted undertext-card-icon">Znovu</p>
            </a>
            <a href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(2)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/minus-sign-inside-a-black-circle.png">
                <p class="text-muted undertext-card-icon">Těžké</p>
            </a>
            <a href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(4)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/correct-symbol.png">
                <p class="text-muted undertext-card-icon">Správně</p>
            </a>
            <a href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(6)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/star.png">
                <p class="text-muted undertext-card-icon">Jednoduché</p>
            </a>
        </div>

   </div>

</div>
</div>


</div>

    <script src="../../javascripts/app/productCategory/learnController.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
    <script src="../../javascripts/app/productCategory/productService.js"></script>
