<% include layout%>


<div class="container"
     data-ng-cloak
     data-ng-modules="productCategoryModule, productModule"
     data-ng-controller="learnController"
     style="padding-bottom: 55px">

    <div class="container padding-top-lg">
            <div class="card-text"
                 ng-bind-html="Card.FrontSide">
                {{Card.FrontSide}}
            </div>
    </div>

    <hr ng-show="show">

    <div class="container card-text"
         ng-show="show"
         ng-bind-html="Card.BackSide">
        <div >
            {{Card.BackSide}}
        </div>
    </div>

    <img ng-show="show" class="img-responsive padding-top-lg" src="{{Card.Image}}">


        <button type="button"
                class="btn btn-primary btn-lg card-button"
                id="show"
                ng-show="!show"
                data-ng-click="showAnswer();showFooter={display:'unset'}">
            Odpověď
        </button>
        <!--button type="button"
                class="btn btn-primary"
                ng-show="!show"
                data-ng-click="addNewCard()">
            New Card
        </--button-->

    <div class="sticky-container"  ng-show="show">
        <ul class="sticky">
            <a data-toggle="modal" data-target="#LiteratureModal">
            <li ng-show="Card.Literature"> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/open-book.png" />
                <p>Literatura</p>
            </li>
            </a>
            <a target="_blank" href="{{Card.Wikiskripta}}">
            <li ng-show="Card.Wikiskripta"> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885960/source_images/logo_ws_bw_crop.png" />
                <a target="_blank" href="{{Card.Wikiskripta}}">Wikiskripta</a>
            </li>
            </a>
            <a target="_blank" href="{{Card.Wikipedia}}">
            <li ng-show="Card.Wikipedia"> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/wikipedia-logo.png" />
                <a target="_blank" href="{{Card.Wikipedia}}">Wikipedia</a>
            </li>
            </a>
            <a target="_blank" href="{{Card.Wikipedia}}">
            <li ng-show="Card.Youtube"> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/youtube-logo.png" />
                <a target="_blank" href="{{Card.Youtube}}">Youtube</a>
            </li>
            </a>
            <a target="_blank" href="{{Card.Wikipedia}}">
            <li ng-show="Card.ExtraLink"> <img width="32" height="32" title="" alt="" src="http://res.cloudinary.com/oktavian/image/upload/v1473885871/source_images/external.png" />
                <a target="_blank" href="{{Card.ExtraLink}}">Zdroj</a>
            </li>
            </a>
        </ul>
    </div>

<div class="navbar-fixed-bottom navbar navbar-default footer-card" ng-show="show">

    <div class="container text-center">
        <div class="btn-group">
            <a id="znovu" href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(0)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/delete.png">
                <p class="text-muted undertext-card-icon">Znovu</p>
            </a>
            <a id="tezke" href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(2)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/minus-sign-inside-a-black-circle.png">
                <p class="text-muted undertext-card-icon">Těžké</p>
            </a>
            <a id="spravne" href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(4)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/correct-symbol.png">
                <p class="text-muted undertext-card-icon">Správně</p>
            </a>
            <a id="jednoduche" href="#" class="btn btn-primary footer-card-button" data-ng-click="doRep(6)">
                <img alt="" class="card-icons" src="http://res.cloudinary.com/oktavian/image/upload/v1473800057/source_images/star.png">
                <p class="text-muted undertext-card-icon">Jednoduché</p>
            </a>
        </div>

   </div>

</div>

    <!-- Modal -->
    <div id="LiteratureModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Literatura</h4>
                </div>
                <div class="modal-body">
                    <p>{{Card.Literature}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                </div>
            </div>

        </div>
    </div>


</div>

    <script src="../../javascripts/app/productCategory/learnController.js"></script>
    <script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
    <script src="../../javascripts/app/productCategory/productService.js"></script>
    <script src="../../javascripts/keystrokes.js"></script>