<% include layout.ejs%>

<div data-ng-app="productCategoryModule"
     data-ng-controller="myDecksController">

<div class="container text-center padding-top-lg">
    <a href="/learn/all" class="btn btn-info btn-lg" role="button">Studovat vše</a>
</div>


    <div class="container  padding-top-lg">

        <h2 style="padding-bottom: 20px">Studovat jednotlivá témata</h2>
        <table
                data-ng-show="productCategories.length > 0"
                class="table table-striped table-hover padding-top-lg"
        >

            <tr data-ng-repeat="productCategory in productCategories">
                <td>
                    {{productCategory.DeckName}}
                </td>
                <td>
                    {{productCategory.DueCards}}
                </td>
                <td>
                    {{productCategory.CardsLeft}}
                </td>
                <td ng-init="cardsTotal = productCategory.DueCards + productCategory.CardsLeft; controller.Total = controller.Total + cardsTotal">
                    {{cardsTotal}}
                </td>
                <td>
                    <a href="/learn/{{productCategory.Id}}" class="btn btn-info" role="button" style="margin-left: -80px">Studovat</a>

                </td>
            </tr>
        </table>
    </div>
<div class="container">Total: {{ controller.Total }}</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this card?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-ng-click="deleteCard()">Delete Card</button>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


</div>

</div>


<script src="../../javascripts/app/productCategory/productCategoryService.js"></script>
<script src="../../javascripts/app/productCategory/myDecksController.js"></script>

<script src="../../javascripts/app/productCategory/requiredFieldValidationService.js"></script>


