<% include layout.ejs%>
<span>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaa</span>

<button type="button" class="btn btn-danger" data-ng-click="showUser()">ShowUser</button>

<script src="../../javascripts/app/productCategory/loginController.js"></script>
<script src="../../javascripts/app/productCategory/loginService.js"></script>
