<% include layout.ejs%>

<script>
    var userNickname = '<%= user.nickname %>';
    var userId = '<%= user.id %>';
    var privilege = '<%= user._json.roles %>';
    console.log("USER DATA")
</script>

<div class="container">
    <h1>Vítejte na Oktaviánovi!</h1>
    <br>
    <p>Jsme v testovací verzi, každý den něco přibývá nebo se něco vylepšuje - dokumentujeme to dole v changelogu. Ale nebojte, s Oktaviánem se do učení můžete dát okamžitě. Vše je zde založeno
        na týmové spolupráci, takže nás neváhejte jakýmkoliv způsobem kontaktovat s připomínkami nebo komentáři.</p>

    <div class="well">
        <h3>Changelog</h3>
        <br>
        <ul style="list-style: none">
            <li>
                20.9.2016: Start
            </li>
        </ul>
    </div>
</div>

<script src="../../javascripts/app/productCategory/loginModule.js"></script>
<script src="../../javascripts/app/productCategory/loginController.js"></script>
<script src="../../javascripts/app/productCategory/loginService.js"></script>
<script src="../../javascripts/app/productCategory/requiredFieldValidationService_Login.js"></script>
<script src="../../javascripts/app/productCategory/layoutController.js"></script>