<% include layout.ejs%>

<script>
    var userNickname = '<%= user.nickname %>';
    var userId = '<%= user.id %>';
    var privilege = '<%= user._json.roles %>';
    console.log("USER DATA")
</script>

<div class="container padding-top-lg">
    <h1>Vítejte na Oktaviánovi!</h1>
    <br>
    <p>Jsme v testovací verzi, každý den něco přibývá nebo se něco vylepšuje - dokumentujeme to dole v changelogu. Ale nebojte, s Oktaviánem se do učení můžete dát okamžitě. Vše je zde založeno
        na týmové spolupráci, takže nás neváhejte jakýmkoliv způsobem kontaktovat s připomínkami nebo komentáři.</p>

    <div class="container">
        <h3>Co už Oktavián umí</h3>

        <table class="table">
            <thead>
            <tr>
                <td style="width: 15%"></td>
                <td style="width: 85%"></td>
            </tr>
            </thead>

            <tbody>

            <tr>
                <td>Anatomie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width:3%">
                            0%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Histologie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="6"
                             aria-valuemin="0" aria-valuemax="100" style="width:6%">
                            6%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Embryologie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="100" style="width:5%">
                            5%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Fyziologie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="5"
                             aria-valuemin="0" aria-valuemax="100" style="width:5%">
                            5%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Biochemie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="3"
                             aria-valuemin="0" aria-valuemax="100" style="width:4%">
                            3%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Cytologie</td>
                <td><div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="23"
                             aria-valuemin="0" aria-valuemax="100" style="width:23%">
                            23%
                        </div>
                    </div></td>
            </tr>

            <tr>
                <td>Latina</td>
                <td><div class="progress progress-bar-success">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            100%
                        </div>
                    </div></td>
            </tr>

            </tbody>
        </table>
    </div>



    <div class="well">
        <h3>Changelog</h3>
        <br>
        <ul style="list-style: none">
            <li>
                25.9.2016: Latina.Úvod do lékařské terminologie: +Lekce 1-17
            </li>
            <li>
                25.9.2016: Biochemie.Základy biochemie: +Úvod do metabolismu; Elektrolyty
            </li>
            <li>
                25.9.2016: Fyziologie.Membránový potenciál a akční potenciál: +Základní fyzika; Klidový potenciál; Akční potenciál; Morfologie nervu
            </li>
            <li>
                25.9.2016: Fyziologie.Transport látek přes buněčnou membránu: +Pasivní transport; Aktivní transport
            </li>
            <li>
                25.9.2016: Histologie.Lymfatický a imunitní systém: +Imunita; Imunitní buňky; Centrální imunitní orgány; Periferní imunitní orgány; Mízní cévy
            </li>
            <li>
                25.9.2016: Histologie.Kardiovaskulární systém: +Srdce; Tepny; Kapiláry; Vény
            </li>
            <li>
                25.9.2016: Embryologie.Kardiovaskulární systém: +Vývoj krevních cév; Vývoj srdeční trubice; Vývoj srdce
            </li>
            <li>
                25.9.2016: Start
            </li>
        </ul>
    </div>
</div>

<script src="../../javascripts/app/productCategory/loginModule.js"></script>
<script src="../../javascripts/app/productCategory/loginController.js"></script>
<script src="../../javascripts/app/productCategory/loginService.js"></script>
<script src="../../javascripts/app/productCategory/requiredFieldValidationService_Login.js"></script>
<script src="../../javascripts/app/productCategory/layoutController.js"></script>