<div
    class="alert alert-danger"
    data-ng-show="validationResult.containsValidationError">
    <h2>Please fix the following errors before submitting</h2>
    <div>
        <ul id="validationErrorMessage" style="color:red;font-family: Verdana">



        </ul>
    </div>


</div>